* {
  margin: 0;
  font-family: 'Fira Sans';
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans';
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

section,
header,
footer {
  padding-left: 100px;
  padding-right: 100px;
}

     /* ....navbar.... */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.nav h1 {
  font-size: 24px;
  color: #333;
}

.nav a {
  text-decoration: none;
  color: rgb(0, 106, 80);
  border: 1px solid rgb(0, 106, 80);
  padding: 8px 16px;
  border-radius: 5px;
}

  /* ....banner.... */

.hero {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: rgb(198, 228, 214);
  padding: 80px 1px 50px 100px;
  border-radius: 24px;
  margin: 20px 0;
}

.hero-text {
padding:30px;
  text-align: left;
}

.hero h2 {
  color: rgba(14, 14, 14, 0.5);
  font-size: 18px;
  margin-bottom: 10px;
}

.hero h1 {
  display: flex;
  justify-content: flex-start;
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 500px;
  line-height: 52px;
  letter-spacing: 0%;
  text-align: left;
}

.hero img {
  width: 100%;
  max-width: 400px;
  margin: 20px 0;
}

.hero button {
  border-radius: 8px;
  background: rgb(0, 106, 80);
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.hero button:hover {
  background-color: #024a29;

}

/* ......pillar of Bangladesh.... */

.container-pillar{
  gap: 80px;
  margin-top: 60px;
}
.container-pillar h2 {
  padding-top: 30px 0;
  font-size: 24px;
  color: rgb(14, 14, 14);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: left;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
  max-width: 50px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 18px;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color:rgba(14, 14, 14, 0.7);
}

.vision {
  text-align: left;
  margin: 60px 0;

}

.vision-h2 {
  font-size: 24px;
  color: rgb(14, 14, 14);
}

/* ......container-2.......... */

.container-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
  
}


.card-2 {
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  position: relative;
}

.vison-card1{
  background-color: #548ff552;
}



.vison-card2{
  background-color: rgba(0, 128, 0, 0.438);
}

.vison-card3{
  background-color:rgb(247, 235, 207);
}
.vision p{
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7) ;
}


.card-2-btn1 {
  border-radius: 8px;
  background-color: rgb(9, 161, 92);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.card-2-btn {
  border-radius: 8px;
  background-color: rgb(9, 161, 92);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.card-2-btn3 {
  border-radius: 8px;
  background-color: rgb(255, 194, 57);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
/* .......quote-container..... */


.quote-container {
  
  background-color: rgb(255, 255, 255);
  padding:25px 15px;
  border-radius: 12px;
  margin-top: 20px;
  background-image: url('/assets/quote-bg.png');
  background-repeat: no-repeat;
  background-position: top 5px left 15px;
  background-size: 50px;
}





.author {
  text-align: left;
  color: rgba(14, 14, 14, 0.8)
  margin-top: 10px;
}

.author-title {
  font-size: x-small;
}

/* .......opinion...... */


.opm{
  margin-top: 40px;
}
.opinion-table{
  border-radius: 16px;
  background: rgb(255, 255, 255);
  padding: 20px;
  
  }

h2 {
  text-align: left;
  margin-bottom: 20px;
}




table {
  width: 100%;
  border-collapse: collapse;

}

th,
td {
  border: 1px solid rgb(247, 245, 245);
  padding: 10px;
  
}

th {
  background-color:  rgb(198, 228, 214);
  text-align: left;
  
}


select {
  padding: 5px;
  border: 1px solid  rgb(255, 255, 255);
  text-align: center;
  border-radius: 3px;
  background-color: rgb(198, 228, 214);
}

 /* .........Recent News........ */



.container-news p {
  
  margin-bottom: 20px;
}

h2 {
  margin-top: 40px;
}

.news-item {
  background-color:  rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.news-item img {
  max-width: 300px;
  height: auto;
  margin-right: 20px;
  border-radius: 10px;
}

.news-content {
  flex-grow: 1;
}

.news-content h3 {
  margin-bottom: 10px;
}

.news-content p {
  margin-bottom: 15px;
}

.news-source {
  display: flex;
  align-items: center;
}

.news-source img {
  
  height: 30px;
  margin-right: 5px;
}

.news-date {
  color: #888;
  font-size: 0.9em;
}

.read-more-btn {
  background-color: rgb(0, 106, 80);
  color:  rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* .......donate...... */


.donate {
  text-align: center;
  padding: 40px ;
}

.donate h2{
  text-align: center;
}
.donate button {
  background-color: rgb(0, 106, 80);
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
}


h2 {
  margin-bottom: 20px;
}

.donate-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: bold;

}

.donate-button {
  display: inline-block;
  font-size: large;
  padding: 30px 60px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.donate-button:hover {
  background-color: rgb(198, 228, 214);
  
}

.other-amount-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 20px;
  padding: 0 20px;
}

.other-amount {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.done-button {
  background-color: rgb(0, 106, 80);
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
}
  /* .....Newsletter...... */
.Newsletter {
  text-align: center;
  padding: 70px 20px;
  background-color: rgb(198, 228, 214);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;

}

.Newsletter h2 {
  text-align: center;
}

.Newsletter p {
  margin-bottom: 15px ;
  font-size: 0.9em;
  text-align: center;
}

input[type="email"] {
  width: 250px;
  padding: 10px;
  border: 0px solid rgb(255, 255, 255);
  border-radius: 3px;
  text-align: center;
}

button {
  background-color: rgb(0, 106, 80);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.ftr {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  text-align: center;
  margin-top: 50px;
  background-color: #fff;
}

.ftr-im{
  
  margin-left: 10 px;

}
.ftr h2{
  text-align: center;
}